/**
 * Define class for suggested reading
 */
.item-list {
	overflow: auto;
}
.item-list#enroll-item-list {
	height: 150px;
}
.item-list#class-item-list {
	min-height: 400px;
}
.item-list h3 {
	font-size: 18px;
	margin-bottom: 15px;
}
.item-list ul,
.item-list li {
	list-style: none;
	display: block;
}
.item-list li.item {
	float: left;
	clear: both;
	width: 440px;
	margin-bottom: 20px;
}
.item-list a {
	text-decoration: none;
	font-size: 12px;
	color: #333333;
	display: block;
}
.item-list a:hover {
	text-decoration: underline;
}
.item-list .cover {
	display: block;
	float: left;
	margin-right: -65px;
}
.item-list .info {
	float: left;
	margin-left: 65px;
	width: 375px;
	margin-right: -440px;
	clear: right;
}
.item-list .title {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
	width: 375px;
	margin-right: -375px;
	display: block;
}
.item-list .offer {
	float: left;
	width: 375px;
	margin-right: -375px;
	clear: right;
}
.item-list .offer ul {
	float: left;
	width: 162px;
	padding-right: 10px;
}
.item-list .offer li {
	clear: both;
	line-height: 16px;
	height: 22px;
}
.item-list .offer .offer-type {
	font-weight: bold;
	font-size: 16px;
	text-transform: capitalize;
}
.item-list .offer .price {
	color: #FF8400;
	font-weight: bold;
	font-size: 16px;
	float: right;
	text-shadow: 0 0 4px #D5D4D2;
	-moz-text-shadow: 0 0 4px #D5D4D2;
	-webkit-text-shadow: 0 0 4px #D5D4D2;
}
.item-list .share-result {
	clear: both;
}
.item-list .share-result textarea {
	font-family: Sans-Serif;
	font-size: 22px;
	font-weight: bold;
	color: #5c6768;
	width: 455px;
}
