/**
 * @file
 * Define styles for institution selector
 *
 * @author Daniel Chen <daniel@coursecoffee.com>
 */
#institution-domain-form select {
	width: 500px;
	height: 30px;
	margin: 25px 0;
	font-size: 24px;
	font-weight: bold;
}
#institution-domain-form option {
	height: 30px;
	line-height: 30px;
}
