/**
 * @file
 * Define styles for calendar page
 */
.calendar .panel-01,
.calendar .panel-02{
	padding-bottom: 50px;
}
.calendar .single-day.calendar-display{
	width: 100%;
	float; left;
}
.calendar .calendar-display .row{
	float; left;
	height: 49px;
	clear: both;
	border-bottom: 1px solid #DBE1E6;
	overflow: hidden;
}
.calendar .calendar-display .col.odd,
.calendar .calendar-display .row.odd{
	background: none repeat scroll 0 0 #E0F8E0;
}
/**
 * Define styles for the hour interval colunn
 */
.calendar .calendar-display .hour-interval{
	margin-top: 19px;
	border-top: 1px solid #DBE1E6;
}
.calendar .calendar-display .hour-interval .row{
	width: 30px;
}
.calendar .calendar-display .hour-notation{
	font-size: 10px;
	margin-right: 3px;
	text-align: right;
}
/**
 * Define styles for day interval columns
 */
.calendar .calendar-display .day-interval .label{
	height: 19px;
	text-align: center;
}
.calendar .calendar-display .day-interval .row{
	border-left: 1px solid #DBE1E6;
}
.calendar .calendar-display .col{
	float: left;
}
/**
 * Define styles for month calendar
 */
.calendar .month .month-label {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.calendar .month .col{
	width: 64px;
	height: 49px;
	text-align: center;
	border-right: 1px solid #DBE1E6;
}
.calendar .month .week-day-interval{
	height: 20px;
	font-size: 10px;
	font-weight: bold;
}
