/**
 * @file
 * Define styles for calendar page
 */
.calendar .panel-01,
.calendar .panel-02{
	padding-bottom: 50px;
}
.calendar .has-event {
	background: #F8DA94!important;
}
/**
 * Define styles for button
 */
.calendar .body a.button{
	float: left;
	clear: both;
	color: white;
	margin: 5px 0;
	display: block;
	border: 1px solid #ff8400;
	border-radius: 4px;
	font-size: 20px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 6px #8a4c0a;
	-moz-text-shadow: 0 0 6px #8a4c0a;
	-webkit-text-shadow: 0 0 6px #8a4c0a;
	background: #ff8400;
	background-image: -moz-linear-gradient(#ff8400, #d06e06);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8400), to(#d06e06)); 
}
.calendar .body a.button:hover{
	text-shadow: 0 0 3px #fff;
	-moz-text-shadow: 0 0 3px #fff;
	-webkit-text-shadow: 0 0 3px #fff;
}
.calendar .body .button:active{
	-moz-box-shadow: inset 0 0 15px 15px #d06e06;
	-webkit-box-shadow: inset 0 0 15px 15px#d06e06;
	box-shadow: inset 0 0 15px 15px #d06e06;
}

/**
 * Define styles for upload
 */
.calendar .upload-form{
	clear: both;
	margin-left: 240px;
	width: 210px;
	float: left;
}
.calendar .upload-form .button{
  width: 200px;
}

/**
 * Define styles for task form
 */
.task-create-form-wrapper{
	float: left;
	width: 450px;
	margin-bottom: 50px;
}
.task-create-form{
}
.task-create-form .row{
	clear: both;
	float: left;
	padding: 5px 0;
	width: 420px;
}
.task-create-form label{
}
.task-create-form input{
	color: #787474;
	font-weight: bold;
	float: left;
	border: 1px solid #457319;
	border-radius: 4px;
	padding: 0 5px;
	margin: 0;
	height: 26px;
	line-height: 20px;
	font-size: 16px;
}
.task-create-form label{
	width: 60px;
	float: left;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
	height: 26px;
	color: #333333;
}
.task-create-form input.objective {
	width: 420px;
}
.task-create-form input.due_date {
	width: 195px;
	margin-right: 15px;
}
.task-create-form select.class-list {
	width: 195px;
}
.task-create-form .button.show-detail {
	width: 150px;
	position: absolute;
	top: -1px;
	left: 270px;
}
.task-create-form textarea{
	font-family: Sans-Serif;
	width: 420px;
	color: #787474;
	font-weight: bold;
	float: left;
	border: 1px solid #457319;
	border-radius: 4px;
	padding: 0 5px;
	margin: 0;
	line-height: 16px;
	font-size: 16px;
}
.task-create-form legend{
	font-weight: bold;
	font-size: 18px;
	color: #333333;
}
.task-create-form fieldset{
	border: 1px solid #5e5b5b;
	border-radius: 4px;
	padding: 0 15px;
	/**
	 * This is commented out because firefox does not know how to render fieldset
	 * box-shadow correctly.
	 *
	-moz-box-shadow: 1px 3px #5e5b5b;
	-webkit-box-shadow: 1px 1px 3px #5e5b5b;
	box-shadow: 1px 1px 3px #5e5b5b;
	*/
}
.task-create-form .required{
	border: 1px 1px 0 1px;
}
.task-create-form .optional{
	border: 0 1px 0 1px;
	border-radius:  0 0 4px 4px;
}
.task-create-form .submit{
	width: 420px;
}

/**
 * Define basic calendar styles
 */
.calendar .calendar-display{
	width: 100%;
	float; left;
}
.calendar .calendar-display .row{
	float; left;
	height: 49px;
	clear: both;
	overflow: hidden;
}
.calendar .calendar-display .col{
	float: left;
}
.calendar .calendar-display .col.odd,
.calendar .calendar-display .row.odd{
	background: none repeat scroll 0 0 #E0F8E0;
}
.calendar .calendar-display .event{
	float: right;
	font-size: 10px;
}
/**
 * Define styles for day calendar
 */
.calendar .day .row{
	border-bottom: 1px solid #DBE1E6;
}
.calendar .day .hour-interval{
	margin-top: 19px;
	border-top: 1px solid #DBE1E6;
}
.calendar .day .hour-interval .row{
	width: 30px;
}
.calendar .day .hour-notation{
	font-size: 8px;
	margin-right: 3px;
	text-align: right;
}
.calendar .day .day-interval .label{
	height: 19px;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
}
.calendar .day .day-interval .row{
	/*border-left: 1px solid #DBE1E6;*/
}
/**
 * Define styles for month calendar
 */
.calendar .month .month-label {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
.calendar .month .label.col{
	height: 19px;
}
.calendar .month .week-day-interval.row {
	height: 20px;
}
.calendar .month .row {
	height: 50px;
}
.calendar .month .col{
	width: 64px;
	height: 49px;
	text-align: center;
	border-right: 1px solid #DBE1E6;
	border-bottom: 1px solid #DBE1E6;
}
.calendar .month .day-label {
	float: left;
	width: 10px;
	font-size: 8px;
}
.calendar .month .week-day-interval{
	height: 20px;
	font-size: 10px;
	font-weight: bold;
}
.calendar .month .event {
	text-align: right;
}

/**
 * Define styles for task list
 */
.calendar .task-list {
	clear: both;
	width: 459px;
}

