/**
 * @file
 * Define styles for class body
 */
.class .panel-top{
	position: absolute;
	top: -35px;
	left: 25px;
}
.class .panel-top .panel-inner{
	position: relative;
}
.class ul.class-list,
.class ul.class-list li{
	list-style: none;
}
.class ul.class-list{
	width: 800px;
}
.class ul.class-list li{
	float: left;
	padding: 2px 10px;
	margin: 0 5px;
	font-weight: bold;
	font-size: 18px;
	color: #fefefe;
	text-shadow: 0 0 4px #787474;
	-moz-text-shadow: 0 0 4px #787474;
	-webkit-text-shadow: 0 0 4px #787474;
}
.class ul.class-list li.active{
	color: #333333;
	float: left;
	background: #fefefe;
	border: solid #fefefe;
	border: 1px 1px 0 1px;
	border-radius: 8px 8px 0 0;
	text-shadow: 0 0 2px #787474;
	-moz-text-shadow: 0 0 2px #787474;
	-webkit-text-shadow: 0 0 2px #787474;
}
/**
 * Define styles for class info menu and class info
 */
.class #class-info-menu,
.class .class-info-content {
	width: 459px;
	clear: both;
	float: left;
}
.class #class-info-menu {
	margin-top: 20px;
}
.class #class-info-menu ul,
.class #class-info-menu li {
	float: left;
	list-style: none;
}
.class #class-info-menu ul {
	margin-left: 10px;
	width: 449px;
}
.class #class-info-menu li {
	padding: 3px 8px 0;
	font-weight: bold;
	text-shadow: 0 0 4px #787474;
	-moz-text-shadow: 0 0 4px #787474;
	-webkit-text-shadow: 0 0 4px #787474;
	margin-bottom: -1px;
	margin-right: 10px;
	z-index: 10;
}
.class #class-info-menu li.active{
	color: #333333;
	background: #fefefe;
	border: solid #d5d4d2;
	border-width: 1px 1px 0 1px;
	border-radius: 8px 8px 0 0;
	text-shadow: 0 0 2px #787474;
	-moz-text-shadow: 0 0 2px #787474;
	-webkit-text-shadow: 0 0 2px #787474;
}
.class .class-info-content {
	z-index: -9;
	padding-top: 20px;
	border: solid #d5d4d2;
	border-width: 1px 0 0;
}

/**
 * Define styles for button
 */
.class .body a.button{
	float: left;
	clear: both;
	color: white;
	margin: 5px 0;
	display: block;
	border: 1px solid #ff8400;
	border-radius: 4px;
	font-size: 20px;
	height: 26px;
	line-height: 26px;
}

/**
 * Define styles for upload
 */
.class .upload-form{
	clear: both;
	margin-left: 240px;
	width: 210px;
	float: left;
}
.class .upload-form .button{
  width: 200px;
}

/**
 * Define styles for task form
 */
.task-create-form-wrapper{
	float: left;
	width: 450px;
	margin-bottom: 50px;
}
.task-create-form{
}
.task-create-form .row{
	clear: both;
	float: left;
	padding: 5px 0;
	width: 420px;
}
.task-create-form label{
}
.task-create-form input{
	color: #787474;
	font-weight: bold;
	float: left;
	border: 1px solid #457319;
	border-radius: 4px;
	padding: 0 5px;
	margin: 0;
	height: 26px;
	line-height: 20px;
	font-size: 16px;
}
.task-create-form label{
	width: 60px;
	float: left;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
	height: 26px;
	color: #333333;
}
.task-create-form input.objective{
	width: 420px;
}
.task-create-form input.due_date{
	width: 195px;
	margin-right: 15px;
}
.task-create-form select.class-list {
	width: 195px;
}
.task-create-form .button.show-detail {
	width: 150px;
	position: absolute;
	top: -1px;
	left: 270px;
}
.task-create-form textarea{
	font-family: Sans-Serif;
	width: 420px;
	color: #787474;
	font-weight: bold;
	float: left;
	border: 1px solid #457319;
	border-radius: 4px;
	padding: 0 5px;
	margin: 0;
	line-height: 16px;
	font-size: 16px;
}
.task-create-form legend{
	font-weight: bold;
	font-size: 18px;
	color: #333333;
}
.task-create-form fieldset{
	border: 1px solid #5e5b5b;
	border-radius: 4px;
	padding: 0 15px;
	/**
	 * This is commented out because firefox does not know how to render fieldset
	 * box-shadow correctly.
	 *
	-moz-box-shadow: 1px 3px #5e5b5b;
	-webkit-box-shadow: 1px 1px 3px #5e5b5b;
	box-shadow: 1px 1px 3px #5e5b5b;
	*/
}
.task-create-form .required{
	border: 1px 1px 0 1px;
}
.task-create-form .optional{
	border: 0 1px 0 1px;
	border-radius:  0 0 4px 4px;
}
.task-create-form .submit{
	width: 420px;
}

