/**
 * @file
 * Define styles for class body
 */
.class .panel-top{
	position: absolute;
	top: -35px;
	left: 25px;
}
.class .panel-top .panel-inner{
	position: relative;
}
.class ul.class-list,
.class ul.class-list li{
	list-style: none;
}
.class ul.class-list{
	width: 800px;
}
.class ul.class-list li{
	float: left;
	padding: 2px 10px;
	margin: 0 5px;
	font-weight: bold;
	font-size: 18px;
	color: #fefefe;
	text-shadow: 0 0 4px #787474;
	-moz-text-shadow: 0 0 4px #787474;
	-webkit-text-shadow: 0 0 4px #787474;
}
.class ul.class-list li.active{
	color: #333333;
	float: left;
	background: #fefefe;
	border: solid #fefefe;
	border: 1px 1px 0 1px;
	border-radius: 8px 8px 0 0;
	text-shadow: 0 0 2px #787474;
	-moz-text-shadow: 0 0 2px #787474;
	-webkit-text-shadow: 0 0 2px #787474;
}
/**
 * Define styles for class info menu and class info
 */
.class #class-info-menu,
.class .class-info-content {
	width: 459px;
	clear: both;
	float: left;
}
.class #class-info-menu {
	margin-top: 20px;
}
.class #class-info-menu ul,
.class #class-info-menu li {
	float: left;
	list-style: none;
}
.class #class-info-menu ul {
	margin-left: 10px;
	width: 449px;
}
.class #class-info-menu li {
	padding: 3px 8px 0;
	font-weight: bold;
	text-shadow: 0 0 4px #787474;
	-moz-text-shadow: 0 0 4px #787474;
	-webkit-text-shadow: 0 0 4px #787474;
	margin-right: 10px;
	z-index: 10;
}
.class #class-info-menu li.active {
	color: #333333;
	background: #fefefe;
	border: solid #d5d4d2;
	border-width: 1px 1px 0 1px;
	border-radius: 8px 8px 0 0;
	text-shadow: 0 0 2px #787474;
	-moz-text-shadow: 0 0 2px #787474;
	-webkit-text-shadow: 0 0 2px #787474;
}
.class #class-info-menu li:hover {
	cursor: pointer; 
	cursor: hand;
}
.class .class-info-content {
	padding-top: 20px;
	border: solid #d5d4d2;
	border-width: 1px 0 0;
}

/**
 * Define styles for button
 */
.class .body a.button{
	float: left;
	clear: both;
	margin: 5px 0;
	font-size: 20px;
	height: 26px;
	line-height: 26px;
}

/**
 * Define styles for upload
 */
.class .upload-form{
	clear: both;
	margin-left: 240px;
	width: 210px;
	float: left;
}
.class .upload-form .button{
  width: 200px;
}
