/**
 * @file
 * Define styles for dialogs
 */
.dialog-mesh{
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #313131;
	/* for IE */
	filter: alpha(opacity=50);
	/* CSS3 standard */
	opacity: 0.5;
}
.dialog{
	margin: 0 auto;
	width: 960px;
}
.dialog-inner{
}

/**
 * Define styles for upload dialog
 */
.upload.dialog {
	margin: 200px auto 0;
	width: 480px;
	height: 480px;
	position: relative;
}

.upload .dialog-inner {
	float: left;
	background: #f6f5f4;
	width: 458px;
	padding: 10px;
	border: 1px solid #f6f5f4;
	border-radius: 8px;
	-moz-box-shadow: 2px 2px #003d01;
	-webkit-box-shadow: 2px 2px 5px #003d01;
	box-shadow: 2px 2px 5px #003d01;
	background: white;
	background-image: -moz-linear-gradient(#ffffff, #d5d4d2);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d5d4d2)); 
	/* for IE */
	filter: alpha(opacity=100);
	/* CSS3 standard */
	opacity: 1;
}
