/**
 * @file
 * Define styles for dialogs
 */
.dialog-mesh{
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #313131;
	/* for IE */
	filter: alpha(opacity=50);
	/* CSS3 standard */
	opacity: 0.5;
}
.dialog-wrapper{
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	top: 0;
}
.dialog{
	margin: 0 auto;
	width: 960px;
}
.dialog-inner{
}
.dialog .button{
	color: white;
	display: block;
	border: 1px solid #ff8400;
	border-radius: 4px;
	font-size: 24px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 6px #8a4c0a;
	-moz-text-shadow: 0 0 6px #8a4c0a;
	-webkit-text-shadow: 0 0 6px #8a4c0a;
	background: #ff8400;
	background-image: -moz-linear-gradient(#ff8400, #d06e06);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8400), to(#d06e06)); 
}
.dialog .button:hover{
	text-shadow: 0 0 3px #fff;
	-moz-text-shadow: 0 0 3px #fff;
	-webkit-text-shadow: 0 0 3px #fff;
}
.dialog .button:active{
	-moz-box-shadow: inset 0 0 15px 15px #d06e06;
	-webkit-box-shadow: inset 0 0 15px 15px#d06e06;
	box-shadow: inset 0 0 15px 15px #d06e06;
}

/**
 * Define styles for upload dialog
 */
.upload.dialog {
	margin: 200px auto 0;
	width: 480px;
	height: 480px;
	position: relative;
}

.upload .dialog-inner {
	float: left;
	background: #f6f5f4;
	width: 458px;
	padding: 10px;
	border: 1px solid #f6f5f4;
	border-radius: 8px;
	-moz-box-shadow: 2px 2px #003d01;
	-webkit-box-shadow: 2px 2px 5px #003d01;
	box-shadow: 2px 2px 5px #003d01;
	background: white;
	background-image: -moz-linear-gradient(#ffffff, #d5d4d2);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d5d4d2)); 
	/* for IE */
	filter: alpha(opacity=100);
	/* CSS3 standard */
	opacity: 1;
}
.upload .error{
	color: red;
	text-align: center;
	clear: both;
	margin-bottom: 25px;
}
.upload input[type=file] {
	clear: both;
	width: 458px;
	text-align: center;
	margin: 35px auto;
}
/**
 * Define styles for enrollment dialog
 */
.enroll.dialog {
	margin: 50px auto 0;
	width: 480px;
	height: 480px;
	position: relative;
}

.enroll .dialog-inner {
	float: left;
	background: #f6f5f4;
	width: 458px;
	padding: 10px;
	border: 1px solid #f6f5f4;
	border-radius: 8px;
	-moz-box-shadow: 2px 2px #003d01;
	-webkit-box-shadow: 2px 2px 5px #003d01;
	box-shadow: 2px 2px 5px #003d01;
	background: white;
	background-image: -moz-linear-gradient(#ffffff, #d5d4d2);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d5d4d2)); 
	/* for IE */
	filter: alpha(opacity=100);
	/* CSS3 standard */
	opacity: 1;
}
.enroll .error{
	color: red;
	text-align: center;
	clear: both;
	margin-bottom: 25px;
}
.enroll input[type=file] {
	clear: both;
	width: 458px;
	text-align: center;
	margin: 35px auto;
}
.enroll #book-list {
	height: 450px!important;
	overflow: auto;
}

/**
 * Define styles for confirm class info dialog
 */
.confirm-class.dialog {
	margin: 200px auto 0;
	width: 480px;
	height: 480px;
	position: relative;
}

.confirm-class .dialog-inner {
	float: left;
	background: #f6f5f4;
	width: 458px;
	padding: 10px;
	border: 1px solid #f6f5f4;
	border-radius: 8px;
	-moz-box-shadow: 2px 2px #003d01;
	-webkit-box-shadow: 2px 2px 5px #003d01;
	box-shadow: 2px 2px 5px #003d01;
	background: white;
	background-image: -moz-linear-gradient(#ffffff, #d5d4d2);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d5d4d2)); 
	/* for IE */
	filter: alpha(opacity=100);
	/* CSS3 standard */
	opacity: 1;
}
.confirm-class .error{
	color: red;
	text-align: center;
	clear: both;
	margin-bottom: 25px;
}
