/**
 * @file
 * Define styles for dialogs
 */
.dialog-mesh{
	z-index: 99;
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #313131;
	/* for IE */
	filter: alpha(opacity=50);
	/* CSS3 standard */
	opacity: 0.5;
}
.dialog-wrapper{
	z-index: 999;
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	top: 0;
}
.dialog{
	z-index: 9999;
	margin: 50px auto 0;
	width: 480px;
	height: 480px;
	position: relative;
}
.dialog h2 {
	font-size: 18px;
	text-align: center;
}
.dialog h3 {
	font-size: 16px;
	margin-bottom: 15px;
	text-align: center;
}
.dialog-close {
	display: block;
	height: 28px;
	width: 28px;
	position: absolute;
	right: -5px;
	top: -5px;
	background: url('../images/dialog-close.png') center center no-repeat;
}
.dialog-inner {
	margin: 50px auto 0;
	width: 480px;
	height: 480px;
	position: relative;
	float: left;
	background: #f6f5f4;
	padding: 10px;
	border: 1px solid #f6f5f4;
	border-radius: 8px;
	-moz-box-shadow: 2px 2px #003d01;
	-webkit-box-shadow: 2px 2px 5px #003d01;
	box-shadow: 2px 2px 5px #003d01;
	background: white;
	background-image: -moz-linear-gradient(#ffffff, #d5d4d2);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d5d4d2)); 
	/* for IE */
	filter: alpha(opacity=100);
	/* CSS3 standard */
	opacity: 1;
}
.dialog .button{
	color: white;
	display: block;
	border: 1px solid #ff8400;
	border-radius: 4px;
	font-size: 24px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 6px #8a4c0a;
	-moz-text-shadow: 0 0 6px #8a4c0a;
	-webkit-text-shadow: 0 0 6px #8a4c0a;
	background: #ff8400;
	background-image: -moz-linear-gradient(#ff8400, #d06e06);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8400), to(#d06e06)); 
}
.dialog .button:hover{
	text-shadow: 0 0 3px #fff;
	-moz-text-shadow: 0 0 3px #fff;
	-webkit-text-shadow: 0 0 3px #fff;
}
.dialog .button:active{
	-moz-box-shadow: inset 0 0 15px 15px #d06e06;
	-webkit-box-shadow: inset 0 0 15px 15px#d06e06;
	box-shadow: inset 0 0 15px 15px #d06e06;
}

/**
 * Define styles for upload dialog
 */
.upload.dialog {
	margin: 200px auto 0;
	position: relative;
}

.upload .dialog-inner {
	width: 458px;
	height: auto;
}
.upload .error{
	color: red;
	text-align: center;
	clear: both;
	margin-bottom: 25px;
}
.upload input[type=file] {
	clear: both;
	width: 458px;
	text-align: center;
	margin: 35px auto;
}
/**
 * Define styles for enrollment dialog
 */
.enroll.dialog {
}

.enroll .dialog-inner {
	height: auto;
}
.enroll .error{
	color: red;
	text-align: center;
	clear: both;
	margin-bottom: 25px;
}
.enroll input[type=file] {
	clear: both;
	width: 458px;
	text-align: center;
	margin: 35px auto;
}
.enroll #book-list {
	height: 450px!important;
	overflow: auto;
}

/**
 * Define styles for confirm class info dialog
 */
.confirm-class.dialog {
	margin: 35px auto 0;
}

.confirm-class .dialog-inner {
	margin: 25px auto 0;
	width: 458px;
	height: auto;
}
.confirm-class .error{
	color: red;
	text-align: center;
	clear: both;
	margin-bottom: 25px;
}
.confirm-class .row {
	margin: 5px 0;
	float: left;
	text-align: left;
}
.confirm-class .confirm-message {
	margin: 10px 5px 25px;
	font-size: 12px;
	float: left;
	width: 448px;
}
.confirm-class .confirm-message h2 {
	clear: both;
	margin: 5px 0;
	font-size: 22px;
	text-align: left;
}
.confirm-class .confirm-message h3 {
	clear: both;
	margin: 15px 0;
	font-size: 18px;
	text-align: left;
}
.confirm-class .confirm-message ul,
.confirm-class .confirm-message li {
	display: block;
	float: left;
}
.confirm-class .confirm-message ul {
	margin : 25px 0 25px 120px;
	width: 300px;
	clear: both;
}
.confirm-class .confirm-message li {
	font-weight: bold;
	padding: 2px 0;
	font-size: 14px;
}
.confirm-class label,
.confirm-class input,
.confirm-class select {
	height: 34px;
	line-height: 34px;
	float: left;
}
.confirm-class .row input {
	border: 1px solid #313131;
	font-size: 20px;
	width: 333px;
}
.confirm-class select {
	font-size: 18px;
	width: 333px;
}
.confirm-class label {
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	display: block;
	width: 115px;
}
.confirm-class .confirm-row {
	margin-top: 105px;
	width: 100%;
}
.confirm-class .book-list {
	height: 325px !important;
	margin-bottom: 20px;
}
.confirm-class .message {
	position: absolute;
	width: 100%;
	top: 365px;
	text-align: center;
}
.confirm-class .warning {
	text-align: left;
}

/**
 * Define styles for sign up dialog
 */
.sign-up.dialog {
	margin: 200px auto 0;
	height: auto;
}

.sign-up .dialog-inner {
	height: auto;
}
.sign-up a.button {
	clear: both;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	display: block;
}
.sign-up-option {
}
.sign-up-option a.facebook {
	width: 100%;
	float: left;
	color: white;
	background: #627AAD;
	border: 1px solid #1A3C6C;
	text-shadow: 0 0 6px #1A3C6C;
	-moz-text-shadow: 0 0 6px #1A3C6C;
	-webkit-text-shadow: 0 0 6px #1A3C6C;
	background-image: -moz-linear-gradient(#627AAD, #1A3C6C);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#627AAD), to(#1A3C6C)); 
}
.sign-up-option a.facebook:active {
	-moz-box-shadow: inset 0 0 15px 15px #1A3C6C;
	-webkit-box-shadow: inset 0 0 15px 15px#1A3C6C;
	box-shadow: inset 0 0 15px 15px #1A3C6C;
}
.sign-up-option .alternative {
	margin-top: 30px;
	width: 330px;
	float: right;
	clear: both;
}
.sign-up-option p,
.sign-up-option span {
	font-size: 12px;
	float: left;
}
.sign-up-option p {
	padding-top: 2px;
	padding-right: 10px;
	height: 14px;
	line-height: 14px;
}
.sign-up-option span {
	border-bottom: 1px #3f6c19 solid;
	display: block;
	width: 45px;
	text-align:center;
}
.sign-up-option span a {
	font-weight: bold;
	color: #3f6c19;
	display: block;
	width: 45px;
}
.sign-up-option span a:active {
	color: #3f6c19;
}
