.editor .button{
	color: white;
	display: block;
	border: 1px solid #ff8400;
	border-radius: 4px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 6px #8a4c0a;
	-moz-text-shadow: 0 0 6px #8a4c0a;
	-webkit-text-shadow: 0 0 6px #8a4c0a;
	background: #ff8400;
	background-image: -moz-linear-gradient(#ff8400, #d06e06);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8400), to(#d06e06)); 
}
.editor .button:hover{
	text-shadow: 0 0 3px #fff;
	-moz-text-shadow: 0 0 3px #fff;
	-webkit-text-shadow: 0 0 3px #fff;
}
.editor .button:active{
	-moz-box-shadow: inset 0 0 15px 15px #d06e06;
	-webkit-box-shadow: inset 0 0 15px 15px#d06e06;
	box-shadow: inset 0 0 15px 15px #d06e06;
}

#table_syl{
	border-right-style:dashed;
	border-right-width:2px;
	font-family:sans-serif;
	font-size:12px;
	}
#table_title{
	font:Tahoma, Geneva, sans-serif;
	font-size:18px;
	color:#F60;
	text-align:left;
	border-bottom-style:solid;
	border-bottom-width:2px;
	}
#table_content{
	font-family:sans-serif;
	font-size:14px;
}

body{
	background-color:#FFF;
	
	}
	
#parsed_data{
	position:absolute;
	width:500px;
	}

.date_label{
	color:#FFF;
	background-color:#F60;
	border-radius: 2px;
	font-size:14px;
	
	}

#tool_box{
	position:fixed;
	background-color:#9F0;
	border-radius: 4px;
	font-family:sans-serif;
	font-size:8px;
	color:#313131;
        top: 100px;
	}

.tool_box_btn{
	cursor:pointer;
	border-radius: 2px;
	text-align:center;
	font-size:8px;
	}

.schedule_elem{
	font-size:14px;
	border-radius: 3px;
	border-style:dashed;
	border-width: 1px;
	border-color:#09F;;
	}

.schedule_elem_title{
	font-family: sans-serif;
	font-size:14px;
	color:#09F;
	text-align:left;
	border-bottom-style:solid;
	border-bottom-width:2px;
	}

.sch_content{
	font-family:sans-serif;
	text-align:left;
	width:500px;
	white-space: normal;
	font-size:12px;
	
	}

.del_date_label{
	color:#F60;
	background-color:#FFF;
	border-radius: 4px;
	
	border-color:#F60;
	border-width:2px;
	border-style:solid;
	font-size:18px;
	cursor:pointer;
	display: inline-block;
  	width: 20px;
	height:20px;
	text-align:center;
}

.sch_edit{
	
	}

.btn{
	cursor:pointer;
	font-size:14px;
	font-family:sans-serif;
	color:#9F0;
	border-bottom-style:solid;
	border-bottom-width:2px;
	height:100;
	}
	
