/**
 * Define styles for home body
 */
.home.body{
}
.home .body-inner{
}

/**
 * Define styles for orange buttons
 */
.home .body a.button{
	float: left;
	clear: both;
	color: white;
	margin: 5px 0;
	display: block;
	border: 1px solid #ff8400;
	border-radius: 4px;
	font-size: 20px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 6px #8a4c0a;
	-moz-text-shadow: 0 0 6px #8a4c0a;
	-webkit-text-shadow: 0 0 6px #8a4c0a;
	background: #ff8400;
	background-image: -moz-linear-gradient(#ff8400, #d06e06);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8400), to(#d06e06)); 
}
.home .body a.button:hover{
	text-shadow: 0 0 3px #fff;
	-moz-text-shadow: 0 0 3px #fff;
	-webkit-text-shadow: 0 0 3px #fff;
}
.home .body .button:active{
	-moz-box-shadow: inset 0 0 15px 15px #d06e06;
	-webkit-box-shadow: inset 0 0 15px 15px #d06e06;
	box-shadow: inset 0 0 15px 15px #d06e06;
}

/**
 * Define styles for top panel
 */
.home .panel-top{
	float: left;
	clear: both;
	width: 960px;
	min-height: 200px;
}
/**
 * Define styles for profile
 */
.home .profile{
	height: 100px;
}
.home .profile img{
	position: absolute;
	top: -20px;
	left: -20px;
	height: 200px;
	width: 200px;
	-moz-box-shadow: 2px 2px #000;
	-webkit-box-shadow: 2px 2px 5px #000;
	box-shadow: 2px 2px 5px #000;
}
.home .profile .name,
.home .profile .school,
.home .profile .semester {
	left: 225px;
	font-weight: bold;
	font-size: 18px;
	color: #333333;
}
.home .profile .achievement{
	left: 225px;
}
.home .profile .achievement .karma{
	font-weight: bold;
	font-size: 18px;
	color: #ec7b02;
}
.home .profile .achievement strong{
	font-weight: bold;
	font-size: 18px;
	color: #333333;
}
/**
 * Define styles for upload
 */
.home .upload-form{
	position: absolute;
	top: 10px;
	right: 35px;
}
.home .upload-form .button{
  margin: 220px auto;
  width: 200px;
}

/**
 * Define styles for task form
 */
.task-create-form-wrapper{
	float: left;
	margin-left: 200px;
	width: 725px;
}
.task-create-form{
}
.task-create-form .row{
	clear: both;
	float: left;
	padding: 5px 0;
}
.task-create-form label{
}
.task-create-form input{
	color: #787474;
	font-weight: bold;
	float: left;
	border: 1px solid #457319;
	border-radius: 4px;
	padding: 0 5px;
	margin: 0;
	height: 26px;
	line-height: 20px;
	font-size: 16px;
}
.task-create-form label{
	width: 60px;
	float: left;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
	height: 26px;
	color: #333333;
}
.task-create-form input.objective{
	width: 685px;
}
.task-create-form input.due_date{
	width: 220px;
	margin-right: 15px;
}
.task-create-form input.course-section{
	width: 205px;
}
.task-create-form textarea{
	font-family: Sans-Serif;
	width: 685px;
	color: #787474;
	font-weight: bold;
	float: left;
	border: 1px solid #457319;
	border-radius: 4px;
	padding: 0 5px;
	margin: 0;
	line-height: 16px;
	font-size: 16px;
}
.task-create-form legend{
	font-weight: bold;
	font-size: 18px;
	color: #333333;
}
.task-create-form fieldset{
	border: 1px solid #5e5b5b;
	border-radius: 4px;
	padding: 0 15px;
	/**
	 * This is commented out because firefox does not know how to render fieldset
	 * box-shadow correctly.
	 *
	-moz-box-shadow: 1px 3px #5e5b5b;
	-webkit-box-shadow: 1px 1px 3px #5e5b5b;
	box-shadow: 1px 1px 3px #5e5b5b;
	*/
}
.task-create-form .required{
	border: 1px 1px 0 1px;
}
.task-create-form .optional{
	border: 0 1px 0 1px;
	border-radius:  0 0 4px 4px;
}
.task-create-form a.button.show-detail{
	width: 100px;
	margin: 0 0 0 25px;
	clear: none;
	font-size: 16px;
}
.task-create-form a.button.submit{
	width: 685px;
}

/**
 * Define styles for panels
 */
.home h1{
	font-weight: bold;
	font-size: 24px;
	color: #333333;
	text-shadow: 0 0 1px #000;
	-moz-text-shadow: 0 0 1px #000;
	-webkit-text-shadow: 0 0 1px #000;
}
.home h2{
	font-weight: bold;
	font-size: 18px;
	color: #333333;
	padding: 0;
	margin: 0;
}
.home p{
	padding: 0 0 0 10px;
	margin: 0;
	color: #333333;
	font-size: 12px;
}
.home ul,
.home ul li{
	list-style: none;
}
.home ul li{
	margin-bottom: 15px;
}
/**
 * Define styles for to-do panel
 */
.home .panel-01 .panel-inner{
	min-height: 400px;
}

/**
 * Define styles for class panel
 */
.home ul,
.home ul li{
	list-style: none;
}
