.header,
.body,
.footer{
	float: left;
	width: 100%;
	clear: both;
	padding: 0;
	margin: 0;
}
/** header **/
.header{
}
.header-inner{
}

/** body **/
.body{
	clear:both;
}

.tabs ul,
.tabs li{
	list-style:none;
}
.tabs li{
	padding:5px 10px;
	float:left;
}



.panel-calendar hr{
	padding:20px 5px;
}

.calendars{
	padding:0 5px;
	width:100%;
}

.calendars tr{
	height:45px;
}

.courses{
	padding:0 5px;
}
.tasks{
	padding:0 5px;
}
.tasks .active{
	display:block;
	border-bottom-style:solid;
	border-bottom-color:#dbe1e6;
	border-bottom-width: 2px;
}
.tasks ul,
.tasks li{
	list-style:none;
}
.tasks li{
	padding:10px 0;
}

.tasks a{
	color:black;
	text-decoration:none;
}
.tasks a:hover{
}

.task-details-friends caption{
	text-align:left;
	font-family:"Arial", "Verdana", "Sans-Serif";
	font-size:14px;
	font-weight:bold;
}
.task-details-friends img{
	margin:15px 0;
}

.task-details-friends table img{
	margin:0;
}
.details{
}
.details-header{
}
.details-header ul,
.details-header li{
	list-style:none;
}

.details-header li{
	float:left;
	padding:3px 8px;
}


.details-body{
	clear:both;
	padding:5px;
}

.details-body textarea{
	width:450px;
	display:block;
	position:relative;
	margin:0 atuo;
}

.details-body #submit{
	float:right;
	text-align:right;
	clear:both;
}

.details-body ul,
.details-body li{
	list-style:none;
}

.details-body ul{
	clear:both;
}

.details-body li{
	margin-bottom:15px;
}


.new-course{
	position:fixed;
	z-index:100;
	width:100%;
	height:100%;
}
.new-course .course-add{
	position:relative;
	top:150px;
	margin:0 auto;
	width:100%;
}
.course-add-inner{
	margin:0 auto;
	width:450px;
}

/** footer **/
.footer{
}

.footer-inner{
}
