/**
 * Define styles for task list
 */
.task {
	min-height: 400px;
}
.task .task-inner{
}
.task .no-task{
}
.task ul,
.task ul li{
	list-style: none;
}
.task ul li{
	margin-bottom: 15px;
}
.task .due_date{
	color: #777777;
	text-align: right;
}
.button.more {
	width: 100%;
	height: 20px;
}
.task-list dt {
	font-weight: bold;
	font-size: 14px;
}
