/**
 * Define styles for task list
 */
.task-list {
	width: 450px;
	min-height: 400px;
	float: left;
}
.task-list .task-list-inner{
}
.task-list .no-task{
}
.task-list ul,
.task-list ul li{
	list-style: none;
}
.task-list ul li{
	margin-bottom: 15px;
}
.task-list .due_date{
	color: #777777;
	text-align: right;
}
.button.more {
	width: 100%;
	height: 20px;
}
.task-list dt {
	font-weight: bold;
	font-size: 14px;
}
.task-list dd.comment {
	text-align: right;
	padding-top: 5px;
}
.task-list dd.comment a {
	color: #1A3C6C;
	border-bottom: 1px solid #1A3C6C;
}
.task-list dd.comment a:active {
	color: #1A3C6C;
}
