/**
 * @file
 * Define CSS for the /welcome
 *
 * Define styles for header
 */
.body {
	/* override default */
	margin: 0;
}
.welcome .body-inner{
  margin: 0 auto;
  width: 960px;
}

/**
 * Define styles for top panel
 */
.welcome .panel-top{
	float: left;
	clear: both;
	width: 960px;
	height: 160px;
}
/**
 * Define styles for log and slogan 
 */
.welcome .logo {
  width: 392px;
	position: absolute;
	left: 45px;
	top: 45px;
}

/**
 * Define styles for orange buttons
 */
.welcome .button{
	color: white;
	display: block;
	border: 1px solid #ff8400;
	border-radius: 4px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 6px #8a4c0a;
	-moz-text-shadow: 0 0 6px #8a4c0a;
	-webkit-text-shadow: 0 0 6px #8a4c0a;
	background: #ff8400;
	background-image: -moz-linear-gradient(#ff8400, #d06e06);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8400), to(#d06e06)); 
}
.welcome .button:hover{
	text-shadow: 0 0 3px #fff;
	-moz-text-shadow: 0 0 3px #fff;
	-webkit-text-shadow: 0 0 3px #fff;
}
.welcome .button:active{
	-moz-box-shadow: inset 0 0 15px 15px #d06e06;
	-webkit-box-shadow: inset 0 0 15px 15px#d06e06;
	box-shadow: inset 0 0 15px 15px #d06e06;
}
/**
 * Define styles for login
 */
.welcome .user-login{
	float: left;
	text-align: left;
  margin: 0 -960px -50px 480px;
	width: 480px;
  height: 45px;
	background: #313131;
	background-image: -moz-linear-gradient(#313131, #5e5b5b);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#313131), to(#5e5b5b)); 
  border: #313131 1px solid;
  border-radius: 0 0 4px 4px;
}
.welcome .login.error{
	color: white;
	position: absolute;
	top: 50px;
	left: 480px;
	width: 480px;
	text-align: center;
	text-shadow: 0 0 6px #000;
	-moz-text-shadow: 0 0 6px #000;
	-webkit-text-shadow: 0 0 6px #000;
}
.welcome .user-login .error p{
	margin: 0;
	padding: 0 5px;
}
.welcome .user-login a{
	color: white;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding: 8px 12px;
	display: block;
}
.welcome .user-login .login-form{
  padding-top: 3px;
	float: left;
	width: 480px;
	margin-left: 80px;
}
.welcome .user-login input{
	color: #787474;
	font-size: 18px;
	line-height: 18px;
	border: 1px solid #457319;
	border-radius: 4px;
	margin: 5px;
	width: 138px;
	float: left;
	padding: 0 4px;
}
.welcome .user-login .button{
	float: left;
}
.welcome .slogan{
  float: left;
  width: 480px;
	height: 115px;
	background: url('../images/slogan.png') no-repeat center center;
  margin: 80px -960px 20px 480px;
	/**
  text-align: center;
	line-height: 30px;
	padding: 50px 0 0px;
	font-size: 30px;
	font-weight: bold;
	color: white;
	text-shadow: 0 0 6px #000;
	-moz-text-shadow: 0 0 6px #000;
	-webkit-text-shadow: 0 0 6px #000;
	**/
}
/**
 * Define styles for panel-01
 */
.welcome .panel-01{
  font-size: 20px;
	font-weight: bold;
	color: white;
	text-shadow: 0 0 6px #000;
	-moz-text-shadow: 0 0 6px #000;
	-webkit-text-shadow: 0 0 6px #000;
}
.welcome .panel-01 .panel-inner{
}
.welcome .panel-01 h2{
	margin-top: 20px;
	text-align: center;
  font-size: 24px;
}
.welcome .panel-01 ul,
.welcome .panel-01 li{
  font-size: 14px;
	line-height: 20px;
  list-style: none;
}
.welcome .panel-01 ul{
	width: 325px;
  margin: 20px auto 40px;
}
.welcome .panel-01 li{
  padding: 20px 0 20px 50px;
	height: 40px;
}
.welcome .panel-01 li.calendar {
	background: url('/images/calendar.png') left center no-repeat;
}
.welcome .panel-01 li.text-book {
	background: url('/images/text-book.png') left center no-repeat;
}
.welcome .panel-01 li.facebook {
	background: url('/images/facebook.png') left center no-repeat;
}
.welcome .panel-01 a{
  text-decoration: none;
  color: white;
}
.welcome .panel-01 a:hover{
	text-shadow: 0 0 3px #fff;
	-moz-text-shadow: 0 0 3px #fff;
	-webkit-text-shadow: 0 0 3px #fff;
}
.welcome .panel-01 .sign-up-shortcut{
	font-size: 12px;
	float: right;
	margin-top: 20px;
	width: 220px;
}
.welcome .panel-01 .sign-up-shortcut p{
	width: 150px;
	float: left;
	margin-right: -150px;
	display block;
	height: 24px;
	line-height: 24px;
}
.welcome .panel-01 .sign-up{
	font-size: 14px;
	margin-left: 150px;
	height: 24px;
	line-height: 24px;
	width: 60px;
}

/**
 * Define styles for panel-02
 */
.welcome .panel-02{
}
.welcome .panel-02 .panel-inner{
  height: 475px;
  background: url('../images/syllabus-icon.png') center center no-repeat;
}
.welcome .panel-02 .error{
	color: red;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.welcome .panel-02 .upload{
	font-size: 30px;
	height: 46px;
	line-height: 46px;
}
/**
 * Define styles for upload
 */
.welcome .upload-form .button{
  margin: 220px auto;
  width: 200px;
}

