/**
 * @file
 * Define CSS for the /welcome
 */
.welcome .body {
	min-height: 100%;
}

.welcome .select-school {
	margin: 60px auto 0;
	width: 550px;
}
.welcome .logo {
	margin: 0 auto 15px;
	width: 410px;
	display: block;
}
.welcome .select-school-inner {
	text-align: center;
	margin: 0 auto;
	width: 550px;
	border: 1px solid #f6f5f4;
	border-radius: 8px;
	-moz-box-shadow: 2px 2px #003d01;
	-webkit-box-shadow: 2px 2px 5px #003d01;
	box-shadow: 2px 2px 5px #003d01;
	background: #ffffff;
	background-image: -moz-linear-gradient(#ffffff, #d5d4d2);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d5d4d2)); 
}
.welcome .select-school-inner select {
	width: 500px;
	height: 30px;
	margin: 25px 0;
	font-size: 24px;
	font-weight: bold;
}
.welcome .select-school-inner option {
	height: 30px;
	line-height: 30px;
}
