/**
 * @file
 * Define CSS for the /welcome
 *
 * Define styles for header
 */
.welcome .body-inner{
  margin: 0 auto;
  width: 960px;
}

/**
 * Define styles for top panel
 */
.welcome .panel-top{
	float: left;
	clear: both;
	width: 960px;
}
/**
 * Define styles for log and slogan 
 */
.welcome .logo{
	float: left;
  width: 459px;
  margin: 30px -459px 20px 0;
}
/**
 * Define styles for login
 */
.welcome .user-login{
	float: left;
	text-align: left;
  margin: 0 -960px -50px 480px;
	width: 480px;
  height: 45px;
	background: #313131;
	background-image: -moz-linear-gradient(#313131, #5e5b5b);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#313131), to(#5e5b5b)); 
  border: #313131 1px solid;
  border-radius: 0 0 4px 4px;
}
.welcome .user-login .error{
	color: white;
	float: left;
	width: 200px;
	margin-right: -200px;
	text-align: left;
}
.welcome .user-login .error p{
	margin: 0;
	padding: 0 5px;
}
.welcome .user-login a{
	color: white;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding: 8px 12px;
	display: block;
}
.welcome .user-login a:hover{
	background: #5c5c5c;
	border-radius: 8px;
	-moz-box-shadow: 2px 2px #444444;
	-webkit-box-shadow: 2px 2px 5px #444444;
	box-shadow: 2px 2px 5px #444444;
}
.welcome .user-login .login-form{
  padding-top: 3px;
	float: left;
	width: 480px;
	margin-left: 80px;
}
.welcome .user-login input{
	color: #787474;
	font-size: 18px;
	line-height: 18px;
	border: 1px solid #457319;
	border-radius: 4px;
	margin: 5px;
	width: 138px;
	float: left;
	padding: 0 4px;
}
.welcome .user-login .button{
	float: left;
}
.welcome .slogan{
  float: left;
  width: 480px;
  margin: 70px -960px 20px 480px;
  text-align: left;
	line-height: 30px;
	padding: 50px 0 0px;
	font-size: 30px;
	font-weight: bold;
	color: white;
	text-shadow: 0 0 6px #000;
	-moz-text-shadow: 0 0 6px #000;
	-webkit-text-shadow: 0 0 6px #000;
}
/**
 * Define styles for panel-01
 */
.welcome .panel-01{
  font-size: 20px;
	font-weight: bold;
	color: white;
	text-shadow: 0 0 6px #000;
	-moz-text-shadow: 0 0 6px #000;
	-webkit-text-shadow: 0 0 6px #000;
}
.welcome .panel-01 .panel-inner{
}
.welcome .panel-01 h2{
  font-size: 48px;
}
.welcome .panel-01 ul,
.welcome .panel-01 li{
  font-size: 20px;
  list-style: none;
}
.welcome .panel-01 ul{
  margin: 40px auto;
}
.welcome .panel-01 li{
  padding: 10px 0 10px 40px;
}
.welcome .panel-01 a{
  text-decoration: none;
  color: white;
}
.welcome .panel-01 a:hover{
	text-shadow: 0 0 3px #fff;
	-moz-text-shadow: 0 0 3px #fff;
	-webkit-text-shadow: 0 0 3px #fff;
}

/**
 * Define styles for panel-02
 */
.welcome .panel-02{
}
.welcome .panel-02 .panel-inner{
  height: 529px;
  background: url('../images/syllabus-icon.png') 0 0 no-repeat;
}
.welcome .panel-02 .error{
	color: red;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.welcome .panel-02 .button{
	color: white;
	display: block;
	border: 1px solid #ff8400;
	border-radius: 4px;
	font-size: 30px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 6px #8a4c0a;
	-moz-text-shadow: 0 0 6px #8a4c0a;
	-webkit-text-shadow: 0 0 6px #8a4c0a;
	background: #ff8400;
	background-image: -moz-linear-gradient(#ff8400, #d06e06);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8400), to(#d06e06)); 
}
.welcome .button:hover{
	text-shadow: 0 0 3px #fff;
	-moz-text-shadow: 0 0 3px #fff;
	-webkit-text-shadow: 0 0 3px #fff;
}
/**
 * Define styles for upload
 */
.welcome .upload-form .button{
  margin: 220px auto;
  width: 200px;
}

/**
 * user registration form specific
 */
.welcome .dialog.user-registration {
	height: 300px;
}
.welcome .dialog.user-registration .row{
	height: 44px;
	margin: 0 auto;
	padding: 10px 0;
	clear: both;
}
.welcome .dialog.user-registration .title{
	float: left;
	width: 239px;
	padding: 0 10px;
	text-align: right;
}
.welcome .dialog.user-registration .field{
	float: left;
	width: 263px;
}
.welcome .dialog.user-registration label,
.welcome .dialog.user-registration input{
	height: 34px;
	line-height: 34px;
}
.welcome .dialog.user-registration label{
	font-size: 24px;
}
.welcome .dialog.user-registration input{
	font-size: 20px;
	width: 263px;
}
.welcome .dialog.user-registration .button{
	clear: both;
	width: 200px;
	margin: 20px auto;
}

