/**
 * @file
 * Define CSS for the /welcome
 */
.welcome .body {
	margin: 0;
	min-height: 400px;
}
.welcome .body-inner{
  margin: 0 auto;
  width: 960px;
}

/**
 * Define styles for top panel
 */
.welcome .panel-top{
	float: left;
	clear: both;
	width: 960px;
	position: relative;
	height: 160px;
}
.welcome .panel-top .panel-inner {
	position: relative;
	float: left;
	width: 960px;
}
.welcome .user-action {
	position: absolute;
	width: 500px;
	right: 0;
	top: 0;
	background: #313131;
	background-image: -moz-linear-gradient(#313131, #5e5b5b);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#313131), to(#5e5b5b)); 
  border: #313131 1px solid;
  border-radius: 0 0 8px 8px;
	-moz-box-shadow: 0 0 15px #333;
	-webkit-box-shadow: 0 0 15px #333;
	box-shadow: 0 0 15px #333;
}
.welcome .user-action .button {
	float: left;
	padding: 8px 12px;
}
.welcome .user-action .sign-up {
  margin-top: 3px;
}
/**
 * Define styles for log and slogan 
 */
.welcome .logo {
  width: 392px;
	position: absolute;
	left: 45px;
	top: 45px;
}

/**
 * Define styles for login
 */
.welcome .user-login{
	float: left;
	text-align: left;
	width: 405px;
  height: 45px;
}
.welcome .login.error{
	color: white;
	position: absolute;
	top: 50px;
	left: 480px;
	width: 480px;
	text-align: center;
	text-shadow: 0 0 6px #000;
	-moz-text-shadow: 0 0 6px #000;
	-webkit-text-shadow: 0 0 6px #000;
}
.welcome .user-login .error p{
	margin: 0;
	padding: 0 5px;
}
.welcome .user-login .login-form{
  padding-top: 3px;
	margin: 0 auto;
	width: 385px;
}
.welcome .user-login input{
	color: #787474;
	font-size: 12px;
	line-height: 18px;
	height: 28px;
	border: 1px solid #457319;
	border-radius: 4px;
	margin: 5px 10px 5px 0;
	float: left;
	padding: 0 4px;
}
.welcome .user-login input[name=email] {
	width: 168px;
}
.welcome .user-login input[name=password] {
	width: 108px;
}
/**
 * Define styles for panel-01
 */
.welcome .panel-01{
  font-size: 20px;
	font-weight: bold;
	color: white;
	text-shadow: 0 0 6px #000;
	-moz-text-shadow: 0 0 6px #000;
	-webkit-text-shadow: 0 0 6px #000;
}
.welcome .panel-01 .panel-inner{
}
.welcome .panel-01 h2{
	color: white;
	margin: 20px auto;
	text-align: center;
  font-size: 24px;
	text-shadow: 0 0 6px #000;
	-moz-text-shadow: 0 0 6px #000;
	-webkit-text-shadow: 0 0 6px #000;
}
.welcome .panel-01 ul,
.welcome .panel-01 li{
  font-size: 18px;
	line-height: 20px;
  list-style: none;
}
.welcome .panel-01 ul{
	width: 325px;
  margin: 20px auto 40px;
}
.welcome .panel-01 li{
  padding: 20px 0 20px 50px;
	height: 40px;
}
.welcome .panel-01 li.calendar {
	background: url('/images/calendar.png') left center no-repeat;
}
.welcome .panel-01 li.text-book {
	background: url('/images/text-book.png') left center no-repeat;
}
.welcome .panel-01 li.facebook {
	background: url('/images/facebook.png') left center no-repeat;
}
.welcome .panel-01 a{
  text-decoration: none;
  color: white;
}
.welcome .panel-01 a:hover{
	text-shadow: 0 0 1px #fff;
	-moz-text-shadow: 0 0 1px #fff;
	-webkit-text-shadow: 0 0 1px #fff;
}
.welcome .links {
	text-decoration: underline;
	text-align: center;
}

/**
 * Define styles for panel-02
 */
.welcome .panel-02{
	margin-top: -80px;
}
.welcome .panel-02 .panel-inner{
  height: 475px;
  background: url('../images/syllabus-icon.png') center center no-repeat;
}
.welcome .panel-02 .error{
	color: red;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.welcome .panel-02 .upload{
	font-size: 30px;
	height: 46px;
	line-height: 46px;
}
/**
 * Define styles for upload
 */
.welcome .upload-form .button{
  margin: 220px auto;
  width: 200px;
}

