/**
 * @file
 * Define styles for the navigation menu
 */
.header {
	height: 85px;
}
.header img {
	height: 70px;
	float: left;
	margin-top: 8px;
	margin-right: -215px;
}
#navigation-menu{
	float: right;
}
#navigation-menu ul,
#navigation-menu li{
}
#navigation-menu ul{
}
#navigation-menu li{
	float: left;
	padding: 5px;
	margin-top: 3px;
	margin-right: 10px;
	height: 35px;
	display: block;
}
#navigation-menu li.active{
	margin-top: 0;
	border-top: 3px solid #da3838;
}
#navigation-menu .button{
	color: white;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding: 8px 12px;
	display: block;
	background: none;
	border: none;
}
#navigation-menu .button:hover {
	border-radius: 8px;
	text-shadow: none;
	background: #5c5c5c;
	-moz-box-shadow: 2px 2px #444444;
	-webkit-box-shadow: 2px 2px 5px #444444;
	box-shadow: 2px 2px 5px #444444;
}

/**
 * Define styles for home button
 */
#navigation-menu li.home{
}
#navigation-menu li.home .button{
}

/**
 * Define styles for calendar button
 */
#navigation-menu li.calendar{
}
#navigation-menu li.calendar .button{
}

/**
 * Define styles for class button
 */
#navigation-menu li.class-suggest {
}
#navigation-menu li.class-suggest input{
	font-size: 14px;
	color: #777777;
	font-weight: bold;
	width: 168px;
	float: left;
	height: 36px;
	line-height: 36px;
	border: 1px solid #313131;
	border-radius: 4px 0 0 4px;
}
#navigation-menu li.class-suggest .button{
	float: left;
	width: 48px;
	color: white;
	display: block;
	border: 1px solid #ff8400;
	border-radius: 0 4px 4px 0;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 6px #8a4c0a;
	-moz-text-shadow: 0 0 6px #8a4c0a;
	-webkit-text-shadow: 0 0 6px #8a4c0a;
	background: #ff8400;
	background-image: -moz-linear-gradient(#ff8400, #d06e06);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8400), to(#d06e06)); 
}
#naviagation-menu li.class-suggest .button:hover{
	text-shadow: 0 0 3px #fff;
	-moz-text-shadow: 0 0 3px #fff;
	-webkit-text-shadow: 0 0 3px #fff;
}
#naviagation-menu li.class-suggest .button:active{
	-moz-box-shadow: inset 0 0 15px 15px #d06e06;
	-webkit-box-shadow: inset 0 0 15px 15px#d06e06;
	box-shadow: inset 0 0 15px 15px #d06e06;
}

/**
 * Define styles for logout button
 */
#navigation-menu li.logout{
	float: right;
}
#navigation-menu li.logout .button{
}

/**
 * Define styles for class suggest
 */
#navigation-menu li.class-suggest{
}
#navigation-menu li.class-suggest .class-suggest-inner{
}
#navigation-menu li.class-suggest a.button {
}

/**
 * Define styles for login button
 */
#navigation-menu li.login{
	float: right;
	text-align: right;
	width: 563px;
}
#navigation-menu li.login .error{
	color: white;
	float: left;
	width: 200px;
	margin-right: -200px;
	text-align: left;
}
#navigation-menu li.login .error p{
	margin: 0;
	padding: 0 5px;
}
#navigation-menu li.login .login-form{
	float: left;
	width: 363px;
	margin-left: 200px;
}
#navigation-menu li.login input{
	color: #787474;
	font-size: 18px;
	line-height: 18px;
	border: 1px solid #457319;
	border-radius: 4px;
	margin: 5px;
	width: 138px;
	float: left;
	padding: 0 4px;
}
#navigation-menu li.login .button{
	float: left;
}

/**
 * Define style for class auto suggest
 */
.ui-autocomplete a.ui-corner-all {
	 display: block;
	 clear: both;
	 float: left;
 }
.ui-autocomplete .course-code {
	display: block;
	float: left;
	clear: both;
	font-weight: bold;
}
.ui-autocomplete .course-title {
	display: block;
	float: left;
	clear: both;
}
.ui-autocomplete .institution {
	display: block;
	float: left;
	clear: both;
}
#class-suggest-form .message {
	position: absolute;
	top: 36px;
	text-align:center;
	border: 1px solid #585656;
	padding: 10px 5px;
	border-radius: 0 0 4px 4px;
	-moz-box-shadow: 1px 1px #003d01;
	-webkit-box-shadow: 1px 1px 5px #003d01;
	box-shadow: 1px 1px 5px #003d01;
	background: white;
	background-image: -moz-linear-gradient(#ffffff, #d5d4d2);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d5d4d2)); 
}
.ui-autocomplete {
	z-index: 99999!important;
}
