/**
 * @file 
 * Define styles for editor v2 mock-up
 */

#editor-action-menu{
	float: right;
}
#editor-action-menu ul,
#editor-action-menu li{
	list-style: none;
}
#editor-action-menu ul{
}
#editor-action-menu li{
	margin-top: 3px;
	float: left;
	padding: 5px;
	height: 24px;
	display: block;
}
#editor-action-menu .button{
	color: white;
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding: 6px 10px;
	display: block;
	background: none;
	border: none;
}
#editor-action-menu .button:hover {
	border-radius: 8px;
	text-shadow: none;
	background: #5c5c5c;
	-moz-box-shadow: 2px 2px #444444;
	-webkit-box-shadow: 2px 2px 5px #444444;
	box-shadow: 2px 2px 5px #444444;
}

#editor-action-menu li.cancel {
}
#editor-action-menu li.upload {
	margin-right: 300px;
}
#editor-action-menu li.undo {
}
#editor-action-menu li.redo {
}
#editor-action-menu li.add {
 }
#editor-action-menu li.submit {
}

.editor .content-wrap {
	z-index: 9;
	float: left;
	width: 640px;
	margin-right: -640px;
	margin-bottom: 400px;
}
.editor .content {
	float: left;
	min-height: 810px;
	margin: 20px 0 20px;
	padding: 40px;
	width: 560px;
	font-size: 12px;
	border-radius: 1px;
}
.editor .content p {
	margin: 20px 0;
}
.editor .task-wrap {
	z-index: 99;
	float: left;
	margin-left: 540px; 
	width: 420px;
}
.editor .task {
	margin: 20px 0;
	padding: 5px 10px;
	border: 4px solid #09F;
	border-radius: 8px;
	-moz-box-shadow: 2px 2px #003d01;
	-webkit-box-shadow: 2px 2px 5px #003d01;
	box-shadow: 2px 2px 5px #003d01;
	background: #ffffff;
	background-image: -moz-linear-gradient(#ffffff, #d5d4d2);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d5d4d2)); 
}
.editor .task .options {
	position: absolute;
	top: 5px;
	right: 10px;
}
.editor .task .button {
	font-size: 12px;
	width: 80px;
	float: left;
	margin-right: 10px;
}


.editor .task .task_content_editing{
        width: 380px;
        height: 200px;
}

.editor .task .task_content{
        word-wrap: break-word;
}

.highlight{
    	-moz-box-shadow: 2px 2px #003d01;
	-webkit-box-shadow: 2px 2px 5px #003d01;
	box-shadow: 2px 2px 5px #003d01;

}

.date_label{
        background: #09F;
        color: white;
        font-family: "Sans-Serif";
        font-size: 18px;
        border: 0px; solid white;
        border-radius: 4px;

}


.date_label .btn{
        text-decoration: none;

}
