/**
 * @file
 * Define styles for user sign-up modal.
 */
.sign-up.modal {
	margin: 20px auto 0;
	height: auto;
}
.sign-up.modal h2 {
	width: 400px;
	font-size: 28px;
	margin: 10px auto;
}
.sign-up.modal .modal-inner {
	height: auto;
}
.sign-up.modal a.button {
	clear: both;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	display: block;
}
.sign-up.modal li {
	margin: 15px 0 15px;
}
