/**
 * @file
 * Define CSS for the /portal
 */
.portal .body {
	min-height: 100%;
	margin: 0;
}

.portal .select-school {
	margin: 160px auto 0;
	width: 550px;
}
.portal .logo {
	margin: 0 auto 15px;
	width: 410px;
	display: block;
}
.portal .select-school-inner {
	text-align: center;
	margin: 0 auto;
	width: 550px;
	border: 1px solid #f6f5f4;
	border-radius: 8px;
	-moz-box-shadow: 2px 2px #003d01;
	-webkit-box-shadow: 2px 2px 5px #003d01;
	box-shadow: 2px 2px 5px #003d01;
	background: #ffffff;
	background-image: -moz-linear-gradient(#ffffff, #d5d4d2);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d5d4d2)); 
}
.portal .select-school-inner select {
	width: 500px;
	height: 30px;
	margin: 25px 0;
	font-size: 24px;
	font-weight: bold;
}
.portal .select-school-inner option {
	height: 30px;
	line-height: 30px;
}
.portal h1 {
	padding: 40px 0;
	font-size: 28px;
	color: white;
	text-align: center;
	text-shadow: 0 0 6px #000;
	-moz-text-shadow: 0 0 6px #000;
	-webkit-text-shadow: 0 0 6px #000;
}
